.body {
  --screen-body-padding: 20px var(--screen-padding) 0;
}

.title {
  margin: 6px 0 12px;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.35;
  letter-spacing: -0.5px;
  color: var(--color-ink-1);
}

.all {
  margin-bottom: 8px;
}
